@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;700\&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}
body{
    padding: 1.5rem;
    line-height: 1.6;
    background: linear-gradient(105deg,rgba(225, 225, 225, 0.95),rgba(225, 225, 225, 0.95));
}

.top_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: auto;
}
.header_content{
    margin-block-start: 0em;
}
.header_content h1{
    color: #800080;
    padding-top: 50px;
}
.header_content p{
    color: #333;
    text-decoration: solid;
    padding-bottom: 40px;
}
.header_content a{
  text-decoration: none;
  color: rgb(128, 0, 128);
  font-weight: bold;
  cursor: pointer;
}
.header_content a:hover{
    text-decoration: underline;
}
.header_img{
    width: 180px;
    height: 180px;
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    grid-row: -3/1;
    border: 3px solid #800080;
    transition: transform 0.1s ease;
}
.header_img:hover{
    transform: scale(1.1) rotate(5deg);
}
h1{
    margin-block-start: 0.2em;
    margin-block-end: 0.5em;
}
h2{
    margin-block-end: 0.5em;
}
.container{
  margin: auto;  
  width: 80%;
  margin-top: 30px;
  background: rgb(248, 244, 243);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  position: relative;
}

.container:hover{
    transform: translateY(-5px) scale(1.02);
}
.bottom_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 20px;
    column-gap: 10px;
    padding: 2em;
}
.aside_right{
    margin-right: 2em;
    margin-left: 0.1em;
}
.aside_left{
    margin-inline: 2em;
    margin-right: 2em;
}
.bottom_section .aside_left h2,
.bottom_section .aside_right h2{
    color: #800080;
}
.bottom_section .aside_left ul{
    list-style-type: square;
    padding-right: 1.5rem;
}
.bottom_section .aside_left li span{
  font-weight: 400;
}
.bottom_section .aside_left li{
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.bottom_section .aside_left ul,
.bottom_section .aside_right p{
    color: #333;
}
@media (106px <= width <= 600px) {
    /* This applies to screen between 106px and 600px */
    .top_section{
        grid-template-columns: 1fr;
        text-align: center;
        margin-block-start: 1em;
        padding: 0.5em 1em 0.5em 1em;
    }
    .header_img{
        width: 180px;
        height: 180px;
        display: inline-block;
        object-fit: cover;
        border-radius: 50%;
        grid-row: -3/1;
        border: 3px solid #800080;
        transition: transform 0.1s ease;
    }
    .bottom_section{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 1em;
    }
    .aside_left , .aside_right{
        margin: 0 auto;
        text-align: center;
    }
    .aside_left ul{
        list-style-position: inside;
        padding-inline-start: 0;
    }
}
